<div class="flex align-item-center mt-5">
  <p-toast position="top-right"></p-toast>
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>

  <p-card [header]="title" class="w-full">
    <form class="w-4" [formGroup]="form">
      <label for="razaoSocial" class="block text-900 font-medium mb-2">Razão Social <span
          class="text-red-500">*</span></label>
      <input type="text" name="razaoSocial" placeholder="ex: Google" id="razaoSocial" formControlName="razaoSocial"
        pInputText class="w-full mb-3">
      <small *ngIf="form.get('razaoSocial')?.hasError('required') && form.get('razaoSocial')?.dirty"
        class="p-0 mb-4 p-error block">Campo obrigatório
      </small>

      <label for="tipo" class="block text-900 font-medium mb-2">Tipo de cliente <span
          class="text-red-500">*</span></label>
      <p-dropdown styleClass="w-full mb-3" formControlName="tipo" [options]="tiposCliente" optionLabel="descricao"
        optionValue="descricao" [showClear]="true" placeholder="ex: juridico ou fisica"></p-dropdown>
      <small *ngIf="form.get('tipo')?.hasError('required') && form.get('tipo')?.dirty"
        class="p-error block mb-4 p-0">Campo
        obrigatório</small>

      <label for="cnpj" class="block text-900 font-medium mb-2">Cnpj <span class="text-red-500">*</span></label>
      <p-inputMask mask="99.999.999/9999-99" formControlName="cnpj" name="cnpj" id="cnpj"
        placeholder="99.999.999/9999-99" styleClass="w-full mb-3"></p-inputMask>
      <small *ngIf="form.get('cnpj')?.hasError('required') && form.get('cnpj')?.dirty"
        class="p-0 mb-4 p-error block">Campo obrigatório
      </small>

      <label for="cnpj" class="block text-900 font-medium mb-2">Cpf <span class="text-red-500">*</span></label>
      <p-inputMask mask="999.999.999-99" formControlName="cpf" name="cpf" id="cpf" placeholder="999.999.999-99"
        styleClass="w-full mb-3"></p-inputMask>
      <small *ngIf="form.get('cpf')?.hasError('required') && form.get('cpf')?.dirty"
        class="p-0 mb-4 p-error block">Campo obrigatório
      </small>


      <label for="telefone" class="block text-900 font-medium mb-2">Telefone <span class="text-red-500">*</span></label>
      <p-inputMask mask="(99) 9999-9999" formControlName="telefone" name="telefone" id="telefone"
        placeholder="(99) 99999-9999" styleClass="w-full mb-3"></p-inputMask>
      <small *ngIf="form.get('telefone')?.hasError('required') && form.get('telefone')?.dirty"
        class="p-0 mb-4 p-error block">Campo obrigatório
      </small>


      <label for="celular" class="block text-900 font-medium mb-2">Celular</label>
      <p-inputMask mask="(99) 99999-9999" id="celular" formControlName="celular" name="celular"
        placeholder="(99) 99999-9999" styleClass="w-full mb-3"></p-inputMask>


      <div class="flex flex-column gap-2">
        <label for="email" class="block text-900 font-medium mb-2">E-mail <span class="text-red-500">*</span></label>
        <input type="text" name="email" id="email" formControlName="email" placeholder="exemplo@exemplo.com" pInputText
          class="w-full mb-3">
        <small *ngIf="form.get('email')?.hasError('email') && form.get('email')?.dirty"
          class="p-0 mb-4 p-error block">E-mail no formato inválido</small>

        <small
          *ngIf="form.get('email')?.hasError('required') && !form.get('email')?.hasError('email') && form.get('email')?.dirty"
          class="p-0 mb-4 p-error block">Campo obrigatório</small>
      </div>

      <div class="flex">
        <p-button label="Salvar" icon="pi pi-save" iconPos="right" (onClick)="save()"></p-button>
        <p-button class="ml-2" label="Cancelar" severity="danger" icon="pi pi-times" iconPos="right"
          (onClick)="cancelar()"></p-button>
      </div>

    </form>
  </p-card>
</div>
