<div class="justify-content-center align-item-center h-full mt-5">
  <p-toast position="top-right"></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <p-card header="Tarefas">

    <app-filter [formControls]="getCustomFilter()" (filtrarChange)="filtrar($event)"></app-filter>

    <div class="flex justify-content-end w-full mb-5">
      <p-button class="mt-5" label="Nova Tarefa" icon="pi pi-plus" [rounded]="true" size="small" iconPos="right"
        (onClick)="novo()"></p-button>
    </div>

    <p-table [value]="tarefas" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}"
      [scrollHeight]="'calc(100vh - 15rem)'">
      <ng-template pTemplate="header">
        <tr>
          <th>Descrição</th>
          <th class="text-center">Horário Inicio</th>
          <th class="text-center">Horário Fim</th>
          <th class="text-center">Duração</th>
          <th class="text-center">Data</th>
          <th>Projeto</th>
          <th class="text-center">Status</th>
          <th class="text-center">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tarefa>
        <tr>
          <td>{{tarefa.descricao}}</td>
          <td class="text-center">{{tarefa.horarioInicio}}</td>
          <td class="text-center">{{tarefa.horarioFim}}</td>
          <td class="text-center">{{tarefa.duracao}}</td>
          <td class="text-center">{{ tarefa.data | date : "dd/MM/yyyy" }}</td>
          <td class="w-12rem">{{tarefa.projeto?.descricao}}</td>
          <td class="text-center lg:w-7rem">
            <p-tag *ngIf="tarefa.status.descricao == 'Ativo'" [value]="tarefa.status.descricao"></p-tag>
            <p-tag *ngIf="tarefa.status.descricao == 'Em andamento' " [value]="tarefa.status.descricao"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Inatívo' " class="text-center" [value]="tarefa.status.descricao"
              [severity]="'warning'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Excluído' " class="text-center" [value]="tarefa.status.descricao"
              [severity]="'danger'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Finalizado' " class="text-center"
              [value]="tarefa.status.descricao" [severity]="'success'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Em pausa' " class="text-center" [value]="tarefa.status.descricao"
              [severity]="'warning'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Bloqueado' " class="text-center" [value]="tarefa.status.descricao"
              [severity]="'danger'"></p-tag>
          </td>
          <td class="flex justify-content-center gap-2s text-center lg:w-8rem">
            <p-button icon="pi pi-pencil" [text]="true" (onClick)="editar(tarefa.id)"></p-button>
            <p-button icon="pi pi-trash" [text]="true" severity="danger"
              (onClick)="deletar($event, tarefa.id)"></p-button>
            <p-button [text]="true" icon="pi pi-ellipsis-v" (click)="menu.toggle($event)">
            </p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-tieredMenu #menu [popup]="true" [model]="finalizarSplitButtonItems" />

  </p-card>
</div>
