<div class="flex align-item-center mt-5">
  <p-confirmDialog></p-confirmDialog>
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>

  <p-card [header]="title" class="w-11 -mt-3 p-0">
    <app-custom-form [controls]="getCustomControls()" [form]="form" (SubmitEvent)="save($event)"
      (BackEvent)="cancel()"></app-custom-form>

    <p-table [value]="listOfProdutos" [tableStyle]="{'min-width': '50rem', 'min-heigth': '20rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template [formGroup]="form" pTemplate="body">
        <tr *ngFor="let produto of listOfProdutos; let i = index;" formArrayName="produtos">
          <td [formGroupName]="i" class="p-4">
            <p-dropdown formControlName="descricao" placeholder="Selecione o produto" [options]="produtos"
              [optionLabel]="'descricao'" [optionValue]="'id'" [showClear]="true"></p-dropdown>
          </td>
          <td [formGroupName]="i">
            <p-inputNumber [inputId]="'quantidade'" formControlName="quantidade"></p-inputNumber>
          </td>
          <td [formGroupName]="i">
            <p-inputNumber [inputId]="'valorUnitario'" formControlName="valor"></p-inputNumber>
          </td>
          <td [formGroupName]="i">
            <p-button icon="pi pi-trash" severity="danger" [text]="true" pTooltip="Excluir Produto"
              (onClick)="removerProduto($event, i)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="w-full mt-8 flex justify-content-end">
      <p-button label="Adicionar" size="small" [severity]="'primary'" icon="pi pi-plus"
        (onClick)="adicionarProduto()"></p-button>
    </div>

  </p-card>
</div>
