<div class="w-full h-full flex align-items-center justify-content-center bg-bluegray-400">
  <p-toast position="top-right" key="tr"></p-toast>
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img src="../../../../assets/images/clock red.png" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Esqueceu sua Senha?</div>
      <span class="text-600 font-medium line-height-3">Digite o seu e-mail e enviaremos as instruções para a redefinição
        de sua senha</span>
    </div>

    <div>
      <form [formGroup]="form">
        <label for="email" class="block text-900 font-medium mb-2">E-mail</label>
        <input id="email" type="text" placeholder="E-mail" formControlName="email" pInputText class="w-full mb-3">
        <small class="p-error block p-1 mb-2"
          *ngIf="form.get('email')?.hasError('required') && form.get('email')?.dirty && form.get('email')?.invalid">
          Campo obrigatório
        </small>
        <small class="p-error block p-1 mb-2"
          *ngIf="form.get('email')?.hasError('email') && form.get('email')?.dirty">E-mail no formato inválido</small>
        <button pButton pRipple label="Enviar" icon="pi pi-user" class="w-full mt-1" (click)="enviar()"></button>
      </form>

    </div>
  </div>
</div>
