<div class="justify-content-center align-item-center h-full mt-5">
  <p-toast position="top-right"></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <p-card header="Tarefas">

    <div class="w-full">
      <form [formGroup]="form" class="w-full flex gap-3">
        <div>
          <label for="descricao" class="block text-900 font-medium mb-2">Descrição</label>
          <input type="text" id="descricao" name="descricao" placeholder="Informe a descrição da tarefa"
            formControlName="descricao" pInputText class="w-20rem mb-3">
        </div>

        <div>
          <label for="periodo" class="block text-900 font-medium mb-2">Periodo</label>
          <p-calendar selectionMode="range" formControlName="periodo" id="periodo" name="periodo"
            [readonlyInput]="false" placeholder="Data inicial - Data final"></p-calendar>
        </div>


        <div>
          <label for="projetoId" class="block text-900 font-medium mb-2">Projeto</label>
          <p-dropdown placeholder="Selecione o nome do projeto" [options]="projetos" optionLabel="descricao"
            optionValue="id" formControlName="projetoId" name="projetoId" id="projetoId"
            styleClass="w-full mb-3"></p-dropdown>
        </div>

        <div class="flex align-item-center mt-5">
          <p-button label=" Filtrar" icon="pi pi-filter" iconPos="right" [rounded]="true" size="small"
            (onClick)="filtrar()"></p-button>
        </div>
      </form>
    </div>

    <div class="flex justify-content-end w-full mb-5">
      <p-button label="Nova Tarefa" icon="pi pi-plus" [rounded]="true" size="small" iconPos="right"
        (onClick)="novo()"></p-button>
    </div>

    <p-table [value]="tarefas" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th>Descrição</th>
          <th>Horário Inicio</th>
          <th>Horário Fim</th>
          <th>Duração</th>
          <th>Data</th>
          <th>Projeto</th>
          <th>Status</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tarefa>
        <tr>
          <td>{{tarefa.descricao}}</td>
          <td>{{tarefa.horarioInicio}}</td>
          <td>{{tarefa.horarioFim}}</td>
          <td>{{tarefa.duracao}}</td>
          <td>{{ tarefa.data | date : "dd/MM/yyyy" }}</td>
          <td>{{tarefa.projeto?.descricao}}</td>
          <td>
            <p-tag *ngIf="tarefa.status.descricao == 'Ativo' " [value]="tarefa.status.descricao"
              [severity]="'primary'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Inatívo' " [value]="tarefa.status.descricao"
              [severity]="'warning'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Excluído' " [value]="tarefa.status.descricao"
              [severity]="'danger'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Finalizado' " [value]="tarefa.status.descricao"
              [severity]="'success'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Em pausa' " [value]="tarefa.status.descricao"
              [severity]="'warning'"></p-tag>

            <p-tag *ngIf="tarefa.status.descricao == 'Bloqueado' " [value]="tarefa.status.descricao"
              [severity]="'danger'"></p-tag>
          </td>
          <td>
            <p-button icon="pi pi-pencil" [text]="true" (onClick)="editar(tarefa.id)"></p-button>
            <p-button icon="pi pi-trash" [text]="true" severity="danger"
              (onClick)="deletar($event, tarefa.id)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>


  </p-card>
</div>
