<div class="w-full mb-5" [formGroup]="form">
  <p-floatLabel>
    <p-password [formControlName]="controlData.controlName" [toggleMask]="true" [ariaDescription]="'password-required'"
      [feedback]="false" styleClass="w-full flex-column" />
    <label for="password"><span class="text-red-600 mr-1">*</span>Password</label>
  </p-floatLabel>
  <small *ngIf="form.get(controlData.controlName)?.hasError('required') && form.get(controlData.controlName)?.dirty"
    class="p-0 mb-4 mt-2 p-error block">Campo obrigatório
  </small>
</div>
