<div class="justify-content-center align-item-center mt-5">
  <p-toast position="top-right"></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <p-card header="Clientes">

    <app-filter [formControls]="getCustomFilter()" (filtrarChange)="filtrar($event)"></app-filter>
    <div class="flex justify-content-end w-full mb-5">
      <p-button label="Novo Cliente" icon="pi pi-plus" [rounded]="true" size="small" iconPos="right"
        (onClick)="novoCliente()"></p-button>
    </div>

    <p-table [value]="clients" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th>Razão Social</th>
          <th>Cnpj | Cpf</th>
          <th>Telefone</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente>
        <tr>
          <td>{{cliente.razaoSocial}}</td>
          <td>{{cliente.tipo == 'Pessoa Jurídica' ? cliente.cnpj : cliente.cpf}}</td>
          <td>{{cliente.telefone}}</td>
          <td>
            <p-button icon="pi pi-pencil" [text]="true" (onClick)="editarCliente(cliente.id)"></p-button>
            <p-button icon="pi pi-trash" [text]="true" severity="danger"
              (onClick)="deletarCliente($event, cliente.id)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>


  </p-card>
</div>
