<div class="w-full h-full flex align-items-center justify-content-center bg-bluegray-400">
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img src="assets/images/Logo dias system.png" alt="Logo do sistema" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Dias System</div>
      <span class="text-600 font-medium line-height-3">Não possui uma conta ainda?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" (click)="novoUsuario()">Crie Agora!</a>
    </div>

    <div>
      <form [formGroup]="form">
        <label for="username" class="block text-900 font-medium mb-2">Username</label>
        <input id="username" type="text" placeholder="Username" formControlName="username" pInputText
          class="w-full mb-3">
        <small class="p-error block p-0 m-0"
          *ngIf="form.get('username')?.hasError('required') && form.get('username')?.dirty && form.get('username')?.invalid">
          Campo obrigatório
        </small>
        <br>

        <span class="p-input-icon-right w-full">
          <label for="password1" class="block text-900 font-medium mb-2">Password</label>
          <i [ngClass]="setPasswordVisibleIcon" class="p-1" (click)="changeVisibility()"></i>
          <input id="password1" type="password" placeholder="Password" #passwordRef formControlName="password"
            pInputText class="w-full mb-3">
        </span>


        <small class="p-error block p-0 m-0"
          *ngIf="form.get('password')?.hasError('required') && form.get('password')?.dirty">
          Campo obrigatório
        </small>

        <br>

        <div class="flex align-items-center justify-content-between mb-6">
          <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
            routerLink="/esqueceu-senha">Esqueceu sua senha?</a>
        </div>
        <div>

          <button pButton pRipple label="Logar" icon="pi pi-user" class="w-full" (click)="logar()"></button>
        </div>


      </form>

    </div>
  </div>
</div>
