.menu__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu__logo {
  width: 60px;
  height: 60px;

}


::ng-deep .menu-lateral .p-menuitem-text {
  color: #fff;
}

::ng-deep .menu-lateral .p-menuitem-icon {
  color: #fff;
}

::ng-deep .p-submenu-list> ::ng-deep .p-menuitem> ::ng-deep .p-menuitem-content> ::ng-deep .p-menuitem-link> ::ng-deep .p-menuitem-text {
  color: #000 !important;
}

::ng-deep .p-submenu-list> ::ng-deep .p-menuitem> ::ng-deep .p-menuitem-content> ::ng-deep .p-menuitem-link> ::ng-deep .p-menuitem-icon {
  color: #000 !important;
}

::ng-deep .p-menuitem-link:hover {
  background-color: tomato;
}

::ng-deep .p-menuitem-link:focus {
  background-color: tomato;
}

::ng-deep .p-menuitem-link:hover {
  background-color: tomato;
}

::ng-deep .p-megamenu .p-menuitem.p-highlight>.p-menuitem-content {
  background: tomato;
}
