<main class="h-screen overflow-y-auto flex">
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <div *ngIf="authenticated == true" class="w-auto h-full bg-bluegray-700 text-white border-round-right">
    <div class="h-full">
      <div class="flex justify-content-center p-5">
        <p-avatar *ngIf="avatarImage" size="xlarge" [image]="photo" shape="circle"
          styleClass="h-8rem w-8rem bg-cover"></p-avatar>
        <p-avatar *ngIf="!avatarImage" size="xlarge" icon="pi pi-user"></p-avatar>
      </div>
      <p-megaMenu #menu orientation="vertical" [model]="items" class="h-full menu-lateral"
        styleClass="h-full bg-bluegray-700 text-white border-round-right border-none border-noround-left">
      </p-megaMenu>
    </div>
  </div>
  <div [ngClass]="authenticated ? 'w-10 ml-7 h-full' : 'w-full h-full'">
    <p-toast></p-toast>
    <router-outlet></router-outlet>
  </div>
</main>
