<div class="flex align-item-center mt-5">
  <p-toast position="top-right"></p-toast>
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>

  <p-card [header]="title" class="w-full">
    <form class="w-4" [formGroup]="form">
      <label for="descricao" class="block text-900 font-medium mb-2">Projeto <span class="text-red-500">*</span></label>
      <input type="text" name="descricao" placeholder="Informe o nome do projeto" id="descricao"
        formControlName="descricao" pInputText class="w-full mb-3">
      <small *ngIf="form.get('descricao')?.hasError('required') && form.get('descricao')?.dirty"
        class="p-0 mb-4 p-error block">Campo obrigatório
      </small>


      <label for="dataInicio" class="block text-900 font-medium mb-2">Data de Início <span
          class="text-red-500">*</span></label>
      <p-calendar formControlName="dataInicio" dateFormat="dd/mm/yy" id="dataInicio" name="dataInicio"
        styleClass="w-full mb-3" placeholder="Selecione a data"></p-calendar>
      <small *ngIf="form.get('dataInicio')?.hasError('required') && form.get('dataInicio')?.dirty">Campo
        obrigatório</small>



      <label for="dataFim" class="block text-900 font-medium mb-2">Data Final Prevista <span
          class="text-red-500">*</span></label>
      <p-calendar formControlName="dataFim" dateFormat="dd/mm/yy" id="dataFim" name="dataFim" styleClass="w-full mb-3"
        placeholder="Selecione a data"></p-calendar>
      <small *ngIf="form.get('dataFim')?.hasError('required') && form.get('dataFim')?.dirty"
        class="p-0 mb-4 p-error block">Campo obrigatório
      </small>


      <label for="cliente" class="block text-900 font-medium mb-2">Cliente <span class="text-red-500">*</span></label>
      <p-dropdown formControlName="cliente" [options]="clientes" optionLabel="razaoSocial" optionValue="id"
        placeholder="Selecione um cliente" styleClass="w-full mb-3"></p-dropdown>

      <small *ngIf="form.get('cliente')?.hasError('required') && form.get('cliente')?.dirty"
        class="p-0 mb-4 p-error block">Campo obrigatório
      </small>



      <label for="status" class="block text-900 font-medium mb-2">Status <span class="text-red-500">*</span></label>
      <p-dropdown formControlName="status" [options]="status" optionValue="id" optionLabel="descricao"
        placeholder="Selecione o status" styleClass="w-full mb-3"></p-dropdown>
      <small *ngIf="form.get('status')?.hasError('required') && form.get('status')?.dirty"
        class="p-0 mb-4 p-error block">Campo obrigatório
      </small>


      <div class="flex">
        <p-button label="Salvar" icon="pi pi-save" iconPos="right" (onClick)="save()"></p-button>
        <p-button class="ml-2" label="Cancelar" severity="danger" icon="pi pi-times" iconPos="right"
          (onClick)="cancelar()"></p-button>
      </div>

    </form>
  </p-card>
</div>
